@import "variables";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.mat-paginator {
  background-color: transparent;

  .mat-paginator-container .mat-paginator-range-actions {
    .mat-paginator-range-label {
      color: $white;
    }

    .mat-icon-button {
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $grey;
      }
    }
  }
}
